<!doctype html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" type="image/png" href="{{ baseUrl }}/favicon.png">
    <link rel="apple-touch-icon" href="{{ baseUrl }}/apple-touch-icon.png">

        <!-- iOS 6 & 7 iPhone 5 -->
        <link href="{{ baseUrl }}/433remote-1096.png"
              media="(device-width: 320px) and (device-height: 568px)
                 and (-webkit-device-pixel-ratio: 2)"
              rel="apple-touch-startup-image">
 
        <!-- iOS 6 & 7 iPhone (retina) -->
        <link href="{{ baseUrl }}/433remote-920.png"
              media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 2)"
              rel="apple-touch-startup-image">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ baseUrl }}/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ baseUrl }}/assets/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <meta charset="UTF-8">
    <title>433PiRemote</title>
</head>
<body>
    <div class="container">
        <h1>433PiRemote</h1>

        <div id="remotes" class="section">
            {% for item in data %}
                <h2>{{ item.name }}</h2>
                <div class="row buttons">
                    <div class="col-xs-6">
                        <a class="btn btn-danger btn-block switch" href="{{ baseUrl }}/do/?id={{ item.id }}&action=off">aus</a>
                    </div>
                    <div class="col-xs-6">
                        <a class="btn btn-success btn-block switch" href="{{ baseUrl }}/do/?id={{ item.id }}&action=on">an</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="groups" class="section hidden">
            {% for group in groups %}
                <h2>{{ group.name }}</h2>
                <div class="row buttons">
                    <div class="col-xs-6">
                        <a class="btn btn-danger btn-block switch" href="{{ baseUrl }}/do/?group={{ group.id }}&action=off">aus</a>
                    </div>
                    <div class="col-xs-6">
                        <a class="btn btn-success btn-block switch" href="{{ baseUrl }}/do/?group={{ group.id }}&action=on">an</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div style="margin-top: 20px">
            <nav class="navbar navbar-default navbar-collapse" role="navigation">
                <ul class="nav navbar-nav sectionTrigger">
                    <li class="active"><a href="#remotes">Einzeln</a></li>
                    <li><a href="#groups">Gruppen</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ baseUrl }}/admin/">Verwaltung</a></li>
                </ul>
            </nav>
        </div>

    </div>
    <script src="{{ baseUrl }}/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ baseUrl }}/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ baseUrl }}/assets/js/jquery.color.js"></script>
    <script src="{{ baseUrl }}/assets/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="{{ baseUrl }}/assets/js/index.js"></script>
</body>
</html>
