<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>433PiRemote Admin</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ baseUrl }}/../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ baseUrl }}/../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/admin.css">
</head>
<body>
<div class="container">

    <h1>433PiRemote Verwaltung</h1>

    {% if not isConfigWritable %}
        <div class="alert alert-danger fade in">
            Die Konfigurationsdatei ist nicht beschreibbar. Es sind keine Änderungen oder Neuanlagen möglich.
        </div>
    {% endif %}

    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Übersicht</a></li>
        {% if isConfigWritable %}
            <li><a href="#new" data-toggle="tab">Neue Funksteckdose einbinden</a></li>
        {% endif %}
        <li><a href="groups.php">Gruppen</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <table class="table table-striped">
                <tr>
                    <th style="width: 15%" class="centered">#</th>
                    <th style="width: 24%">Name</th>
                    <th style="width: 18%" class="centered">Systemcode</th>
                    <th style="width: 18%" class="centered">Steckdosennummer</th>
                    <th style="width: 25%" class="centered">&nbsp;</th>
                </tr>
                {% for plug in data %}
                <tr id="entry{{ plug.id }}">
                    <td class="centered">{{ plug.id }}</td>
                    <td class="entryName">{{ plug.name }}</td>
                    <td class="centered">
                        <span class="hide entryInverseAction">{{ plug.inverseAction }}</span>
                        <span class="entrySystem">{{ plug.system }}</span>
                    </td>
                    <td class="entryUnit centered">{{ plug.unit }}
                    </td>
                    <td class="centered">
                        {% if isConfigWritable %}
                        <a href="javascript:;" data-id="{{ plug.id }}" class="btn btn-default glyphicon glyphicon-pencil edit"> Ändern</a>
                        <a href="delete.php?id={{ plug.id }}" class="btn btn-default glyphicon glyphicon-remove"> Löschen</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="new">

            <div id="newForm" class="panel panel-primary">
                <div class="panel-heading">Neue Funksteckdose einbinden</div>

                <form role="form" style="padding:15px;" method="post">
                    <div class="form-group">
                        <label for="newName">Name der Funksteckdose</label>
                        <input type="text" class="form-control" id="newName" placeholder="Name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="newSystem">Hauscode / Systemcode</label>

                        <div class="input-group">
                            <span class="input-group-addon" id="newSystemDip"></span>
                            <input type="text" class="form-control" id="newSystem" placeholder="z.B. 01100" name="system" value="00000">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="newUnit">Nummer der Funksteckdose</label>
                        <input type="text" class="form-control" id="newUnit" placeholder="A=1, B=2, C=3" name="unit">
                    </div>
                    <div class="form-group">
                        <label>
                            <input id="newInverseAction" name="inverseAction" type="checkbox"> Aktion umkehren (wenn "aus" einschaltet)
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default" name="action" value="add">Anlegen</button>
                </form>
            </div>
        </div>
    </div>

</div>

<div id="editForm" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="panel panel-primary">
            <div class="panel-heading">Daten ändern</div>

            <form role="form" style="padding:15px;" method="post">
                <input type="hidden" id="editId" name="id" value="">
                <div class="form-group">
                    <label for="editName">Name der Funksteckdose</label>
                    <input type="text" class="form-control" id="editName" placeholder="Name" name="name">
                </div>
                <div class="form-group">
                    <label for="editSystem">Hauscode / Systemcode</label>

                    <div class="input-group">
                        <span class="input-group-addon" id="editSystemDip"></span>
                        <input type="text" class="form-control" id="editSystem" placeholder="z.B. 01100" name="system">
                    </div>
                </div>
                <div class="form-group">
                    <label for="editUnit">Nummer der Funksteckdose</label>
                    <input type="text" class="form-control" id="editUnit" placeholder="A=1, B=2, C=3" name="unit">
                </div>
                <div class="form-group">
                    <label>
                        <input id="editInverseAction" name="inverseAction" type="checkbox"> Aktion umkehren (wenn "aus" einschaltet)
                    </label>
                </div>
                <button type="submit" class="btn btn-default" name="action" value="update">Ändern</button>
            </form>
        </div>
    </div>
</div>

<script src="{{ baseUrl }}/../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="{{ baseUrl }}/../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ baseUrl }}/assets/js/DIPSwitch.js"></script>
<script src="{{ baseUrl }}/assets/js/admin.js"></script>
</body>
</html>
